# Gradle & Kotlin build directories (anywhere in the project)
build/
.gradle/
.kotlin/
.cxx/
.externalNativeBuild/
/captures/

# Local configuration & Keystore files
local.properties
keystore.properties
keystore/
*.jks
*.keystore

# IntelliJ / Android Studio
.idea/*
!.idea/.gitignore
!.idea/codeStyles/
!.idea/codeStyles/**
!.idea/inspectionProfiles/
!.idea/inspectionProfiles/**
!.idea/icon.svg
!.idea/runConfigurations/
!.idea/runConfigurations/**
!.idea/vcs.xml
!.idea/fileTemplates/
!.idea/fileTemplates/**
.artifacts/

*.iml
.DS_Store