name: Dev Branch Build & Artifact

on:
  push:
    branches-ignore:
      - 'main'
      - 'weblate-dev'
    paths:
      - 'app/**'
      - 'build.gradle.kts'
      - 'settings.gradle.kts'
      - 'gradle.properties'
      - 'gradle/**'
      - '.github/workflows/auto-preview-dev.yml'

jobs:
  build_and_upload_artifact:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get commit short SHA
        id: commit_sha
        run: echo "SHORT_SHA=$(git rev-parse --short=7 HEAD)" >> $GITHUB_OUTPUT

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
          # cache: gradle 已移除，使用下方的 setup-gradle

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          # dev 分支允许写入缓存
          cache-read-only: false

      - name: Update versionName format
        id: version
        run: |
          VERSION=$(grep -oP 'versionName = "\K([0-9]+\.[0-9]+\.[0-9]+)' app/build.gradle.kts)
          echo "VERSION=${VERSION}" >> $GITHUB_OUTPUT
          A=$(echo $VERSION | cut -d. -f1)
          B=$(echo $VERSION | cut -d. -f2)
          C=$(echo $VERSION | cut -d. -f3)
          C_NEW=$((C + 1))
          NEW_VERSION="${A}.${B}.${C_NEW}.${{ steps.commit_sha.outputs.SHORT_SHA }}"
          sed -i "s/versionName = \".*\"/versionName = \"${NEW_VERSION}\"/" app/build.gradle.kts
          echo "VNEW_VERSION=v${A}.${B}.${C_NEW}" >> $GITHUB_OUTPUT

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Decode and set up signing key
        run: |
          mkdir -p keystore
          echo "${{ secrets.SIGNING_KEY_STORE_BASE64 }}" | base64 --decode > keystore/carlyu.jks
          echo "storeFile=keystore/carlyu.jks" > keystore.properties
          echo "keyAlias=${{ secrets.SIGNING_KEY_ALIAS }}" >> keystore.properties
          echo "keyPassword=${{ secrets.SIGNING_KEY_PASSWORD }}" >> keystore.properties
          echo "storePassword=${{ secrets.SIGNING_STORE_PASSWORD }}" >> keystore.properties

      - name: Build Dev Release APK
        run: ./gradlew assembleOnlineUnstableRelease assembleOfflineUnstableRelease

      - name: Upload APK as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: dev-apk-${{ steps.commit_sha.outputs.SHORT_SHA }}
          path: |
            app/build/outputs/apk/onlineUnstable/release/*.apk
            app/build/outputs/apk/offlineUnstable/release/*.apk
          retention-days: 15